Age: {{age}}
<br> Full Name: {{fullName}}
<br> Status: {{status}}
<br> Email: {{email}}



<h3>Product Info</h3>
<table border="1">

  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
  </tr>

  <tr>
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td><img src="assets/images/{{product.photo}}" width="60"></td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.price * product.quantity}}</td>
  </tr>
</table>
